<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireccionar peticiones directas al index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L,QSA]
</IfModule>

# Seguridad: Impedir listado de directorios
Options -Indexes

# Prevenir acceso a archivos ocultos y de configuración
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
